<h1>Editing Book</h1>
  <%= form_with model: @book do |f| %>

<% if @book.errors.any? %>
<div id="error_explanation">
  <h2><%= @book.errors.count %> errors prohibited this book from being saved:</h2>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>

</div>
 <div class="field">
  <div class="field_with_errors">
<label for="book_title">Title</label>
  </div>
  <div class="field_with_errors">
  <input class="book_title" type="text" value name="book[title]" id="book_title">
  </div>
</div>

 <div class="field">
  <div class="field_with_errors">
<label for="book_body">Body</label>
  </div>
  <div class="field_with_errors">
    <textarea class="book_body" name="book[Book]" id="book_body"></textarea>
  </div>
</div>

<% else %>

<%= f.label :Title %>
<%= f.text_field :title %>

<%= f.label :Body %>
<%= f.text_area :body %>

<% end %>

  <%= f.submit 'Update Book' %><br>

  <%= link_to "Show", book_path %>

  <%= link_to "Back", books_path %>

  <% end %>
